/* Improved by Nelson Maldonado 
This css code has been optimized for 3 different screen sizes; Desktop, Ipad and Mobile. */
/*CSS RESET*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 1px solid black;   
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  



}
/*GENERAL STYLES*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;	
}
h1, p, .name, .bio {	
    font-family: 'Raleway', sans-serif;	
    text-align: center;	
    margin: 4%;	
}	
h1{
    font-size:6rem;
    margin:0;
    line-height: 1.1;
    padding-bottom: 4%;
    padding-top: 4%;
}
a {	
    text-decoration: none;	
    color: black;
    font-size:2.5rem;	
}	
a:hover {	
    font-weight: bold;	
}	
.name{	
    font-size: 150%;	
    font-weight: 200;	
}	
img {	
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	
img:hover {	
    opacity: 80%;	
}	

/*HEADER STYLES */
header{
    display:flex;
    justify-content: center;
}
nav{
    width:30%;
    display:flex;
    justify-content:space-between;
    margin-top:5%;
}
nav a{
    color:#626262;
}
nav span{
    border-left:3px solid #626262;

}
/*Title Section Styles*/
.title-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-container div {	
    background-image: url(/ForWebImgs/bgImage_50artists.jpg);	
    background-position: center;	
    background-size: cover;
    color: white;	
    width:85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin:5% 0;
    padding: 10% 3%;
    
}	
.title-container div:hover {	
    opacity: 80%;	
}	
.title-container hr{
    width:95%;
    margin-top: -1%;
}
button{
    padding:1% 3%;
    font-size: 1.6rem;
    border-radius:6px;
    border:2px solid #626262;
    box-shadow: 2px 2px 1px #626262;
    transition: 2s;
}
button:hover{
    background-color:#626262;
    border:2px solid white;
    color:white;
    box-shadow: 2px 2px 1px white;
}


/*Artists Section Styles */

.artists-container{
    display:flex;
    justify-content: space-around;
    width:85%;
    margin:0 auto;
    padding-top: 1%;
    
}

.artist{
  
    width:45%;
    text-align:center;
    align-items: center;
   
}
.artist img{
    
    width:75%;
    height: auto; /*this auto height prevents images from scaling unevenly*/
    margin-bottom: 5%;
}
.artist p{
    
    width:100%;
    font-size: 1.3rem;
    margin-left: auto;
    
}
.artist h2{
    width:100%;
    font-size: 1.9rem;
    
}
/*Here I will add mediea queries 
the first one will be for ipads 768px  and last one for mobile with 500px */
@media (max-width: 768px){ 
    /* This is the start for Ipad settings */
    nav{
        width:50%;
    }

    .artist {

    }

    .artist p{
    
        width:100%;
        font-size: 1.6rem;
        margin-left: auto;
}
    .artist img{
        
        width:100%;
        height: auto;
        margin-bottom: 5%;
/* this is the end for Ipad settings */
}


/* lastly for mobile I will rearrange divs */
@media (max-width: 500px){
/* Mobile parameters start here*/
nav a{
    color:#626262;
    font-size: 1.9rem;
}
nav span{
    border-left:2px solid #626262;
    

}
nav{
    width:50%;
    display:flex;
    justify-content:space-between;
    margin-top:5%;
} 

h1 {
    font-size: 4rem;
}
.artists-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:85%;
    margin:0 auto;
    padding-top: 1%;
}
.artist{
    display: flex;
    flex-direction: column;
      width:70%;
      text-align:center;
      align-items: center;
      margin-bottom: 10%;

  }
  .artist img{
      display: flex;
      width:75%;
      height: 40%;
      margin-bottom: 5%;
  }
  .artist p{
      width:100%;
      font-size: 1.4rem;
      
  }
  .artist h2{
      width:100%;
      font-size: 1.9rem;
      text-align: center;
      
  }

/* this is the end of mobile parameters */
}
    

